.header {
  background-color: #fecc02;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header img {
  width: 160px;
  /* height: 160px; */
  margin-left: 200px;
  margin-top: 0px;
  object-fit: contain;
}
