.header {
  background-color: #fecc02;
  height: 80px;
  display: flex;
  align-items: center;
}

.header img {
  width: 190px;
  margin-top: 0px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .header {
    margin: auto;
  }
}
